<ion-header>
  <ion-toolbar>
    <ion-title>Todas as compras</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-card *ngFor="let Compra of ListaCompra; ">
    <ion-card-header>
      <ion-card-title>{{Compra.mercado.toUpperCase()}}</ion-card-title>
      <ion-card-subtitle>{{this.utils.acertaData(Compra.data, 1)}}</ion-card-subtitle>
    </ion-card-header>

     <ion-grid>
       <ion-row>

         <ion-col>
             <ion-item>
               <ion-icon name="cash-outline" slot="end"></ion-icon>
               <ion-label>{{Compra.valorTotal}}</ion-label>
             </ion-item>
         </ion-col>

         <ion-col>
             <ion-item>
               <ion-icon name="cube-outline" slot="end"></ion-icon>
               <ion-label>{{Compra.qtdeItem}}</ion-label>
             </ion-item>
         </ion-col>

         <ion-col>
             <ion-item>
               <ion-label>{{Compra.mediaItem}}</ion-label>
               <ion-icon name="stats-chart-outline" slot="end"></ion-icon>
            </ion-item>
         </ion-col>

       </ion-row>
     </ion-grid>




    <ion-item>
      <ion-button fill="outline" slot="end" (click)="abreModal()">Mais</ion-button>
    </ion-item>

  </ion-card>


	<!--<ion-card class="holder-item-lancado" *ngFor="let Compra of ListaCompra; ">
	 	<ion-grid>
				<ion-grid>
					<ion-card-header>
						<ion-grid>
						    <ion-col>
						    	<ion-label>{{Compra.mercado}} - {{this.utils.acertaData(Compra.data, 1)}} </ion-label>
						    </ion-col>
						</ion-grid>
					</ion-card-header>
				</ion-grid>

				<ion-grid>

				<ion-card-header>
						<ion-row>
						          <ion-col size="12">
						            <table width="100%" class="tb-wis">
						              <thead>
						                <tr>
						                  <th align="left">Item</th>
						                  <th align="center">Valor</th>
						                </tr>
						              </thead>
						              <tbody>
						                <tr *ngFor="let item of Compra.itens;">
						                  <td align="left">{{item.item}}</td>
						                  <td align="center">{{item.valor}}</td>
						                </tr>
						              </tbody>
						            </table>
						          </ion-col>
						 </ion-row>
				    </ion-card-header>
				</ion-grid>
		</ion-grid>
	  </ion-card>-->
</ion-content>
