<ion-header>
  <ion-toolbar>
    <ion-title>Informações da compra</ion-title>
    <ion-icon name="arrow-back-outline" slot="end" class="btn-close" (click)="closeModal()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{vMercado.toUpperCase() }} - {{this.utils.acertaData(vData, 1)}}</ion-card-title>
    </ion-card-header>

     <ion-grid>

        <ion-card>
          <ion-card-header>
              <ion-card-subtitle>ITEM(NS)</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            <ion-row *ngFor="let item of vCompra['itens']">
              <ion-grid>
                  <ion-item>
                    <ion-label>{{item.item}}</ion-label>
                    <ion-label class="ion-text-end">{{item.valor}}</ion-label>
                 </ion-item>
              </ion-grid>
           </ion-row>
         </ion-card-content>
        </ion-card>


       <ion-row>
         <ion-col>
             <ion-item>
               <ion-icon name="cash-outline" slot="end"></ion-icon>
               <ion-label>{{vValorTotal}}</ion-label>
             </ion-item>
         </ion-col>

         <ion-col>
             <ion-item>
               <ion-icon name="cube-outline" slot="end"></ion-icon>
               <ion-label>{{vQtdeItem}}</ion-label>
             </ion-item>
         </ion-col>

         <ion-col>
             <ion-item>
               <ion-label>{{vMediaItem}}</ion-label>
               <ion-icon name="stats-chart-outline" slot="end"></ion-icon>
            </ion-item>
         </ion-col>
       </ion-row>
     </ion-grid>

  </ion-card>
</ion-content>
